.btn {
	background-color: #011c37;
	color: #15dea5;
	font-size: 3rem;
	cursor: pointer;
	padding: 1.85rem 3rem;
	border-radius: 5rem;
	transform: scale(1);
	transition: transform 400ms;
}

.btn:hover {
	transform: scale(1.15);
}
