@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  height: 100vh;
  background-color: #ebf6f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  color: unset;
}
a:hover {
  color: tomato;
}

.home-link {
  position: fixed;
  left: 1rem;
  top: 1rem;
  font-size: 1.75rem;
}

.btn {
  background-color: #011c37;
  color: #15dea5;
  border: 4px solid #011c37;
  font-size: 3rem;
  white-space: nowrap;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 5rem;
  transition: transform 450ms, background-color 300ms 150ms;
}
.btn--grow {
  transform: scale(1);
}
.btn--grow:hover {
  transform: scale(1.15);
}
.btn--grow-ball:active + .ball {
  transform: scale(1);
}
.btn--sec-action {
  background-color: rgba(1, 28, 55, 0);
}
.btn--sec-action:hover {
  background-color: #011c37;
}
.btn--stretch-box:active + .box {
  transform: scale(2, 0.5);
}
.btn--move-box:active + .box {
  transform: translate(50%, -25%);
}

.ball {
  width: 3rem;
  height: 3rem;
  background-color: #15dea5;
  border-radius: 1.5rem;
}
.ball--grow {
  width: 25rem;
  height: 25rem;
  background-color: #15dea5;
  border-radius: 12.5rem;
  transform: scale(0.1);
  transition: transform 4000ms;
}

.box {
  width: 15rem;
  height: 15rem;
  background-color: #15dea5;
  transition: transform 400ms ease-in-out;
}

.container--column-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
}

.form__group label {
  color: #6300a0;
  font-weight: bold;
  margin-left: 2rem;
  font-size: 1.2rem;
}
.form__group input {
  border: 2px solid #fff;
  border-radius: 2rem;
  color: #6300a0;
  font-size: 2.5rem;
  padding: 0.5rem 1.5rem;
  width: 100%;
  transition: background-color 400ms;
}
.form__group input:focus {
  border-color: #6300a0;
}
.form__group input:not(:focus):invalid {
  background-color: #b20a37;
  border-color: #b20a37;
  color: #fff;
}

.menu {
  text-align: center;
}
.menu ol {
  padding: 0;
  list-style-type: none;
}
.menu__link {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
