@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/* Global */

* {
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

body {
	height: 100vh;
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Raleway", sans-serif;
}

a {
	text-decoration: none;
	color: unset;
}

/* Menu */

.menu {
	text-align: center;
}

.menu ol {
	margin-top: 1rem;
	padding: 0;
	list-style-type: none;
}

.menu__link {
	font-size: 1.25rem;
}

.menu__link:hover {
	color: tomato;
}

/* Home link */

.home-link {
	position: fixed;
	left: 1rem;
	top: 1rem;
	font-size: 1.75rem;
}

.home-link:hover {
	color: tomato;
}
