.btn {
	@include btn;
	border-radius: $btn-height/2;
	transition: transform 450ms, background-color 300ms 150ms;

	&--grow {
		transform: scale(1);

		&:active {
			transform: scale(1.5);
		}
	}

	&--grow-ball {
		&:active + .ball {
			transform: scale(1);
		}
	}

	&--sec-action {
		background-color: $color-btn-start;

		&:active {
			background-color: $color-btn-end;
		}
	}

	&--stretch-box {
		&:active + .box {
			transform: scale(2, 0.5);
		}
	}

	&--move-box {
		&:active + .box {
			transform: translate(50%, -25%);
		}
	}

	&--reveal-box {
		&:active + .box {
			transform: scale(1);
			span {
				transform: translateY(0);
			}
		}
	}

	&--rotate-boxes {
		&:active + .boxes {
			> .box {
				&--rot-degrees {
					transform: rotate(-180deg);
				}

				&--rot-turns {
					transform: rotate(1turn);
				}
			}
		}
	}

	&--rotate-reveal-box {
		&:active + .box {
			transform: scale(1) rotate(0deg);
			span {
				transform: translateY(0);
			}
		}
	}

	&--skew-boxes {
		&:active + .boxes {
			> .box--skew {
				transform: skew(45deg, 45deg);
				&-X {
					transform: skewX(45deg);
				}
				&-Y {
					transform: skewY(45deg);
				}
			}
		}
	}

	&--perspective-boxes {
		&:active + .boxes {
			& > .box--perspective {
				transform: perspective(150px) rotateX(45deg);
				&-small {
					transform: perspective(75px) rotateX(45deg);
				}
				&-big {
					transform: perspective(300px) rotateX(45deg);
				}
			}
		}
	}

	&--charge-progress-bar {
		&:active {
			& + .progress {
				& > .progress__bar {
					transform: scaleX(1);
				}
			}
		}
	}

	&--hover {
		position: relative;
		z-index: 1;

		&:hover {
			&::after {
				opacity: 1;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: lighten($color-secondary, 5);
			border: inherit;
			border-radius: inherit;
			border-color: lighten($color-secondary, 5);
			opacity: 0;
			z-index: -1;
			transition: opacity 200ms;
		}
	}

	&--reveal-img {
		&:active + .img {
			&::before {
				opacity: 0;
			}
		}
	}

	&--charge-progress-bar-2 {
		&:active {
			& + .progress {
				& > .progress__bar {
					animation: progress-bar 3000ms;
				}
			}
		}
	}
}

@keyframes progress-bar {
	0% {
		transform: scaleX(0);
	}
	17% {
		transform: scaleX(0.18);
	}
	24% {
		transform: scaleX(0.4);
	}
	46% {
		transform: scaleX(0.81);
	}
	85%,
	100% {
		opacity: 1;
	}
	100% {
		transform: scaleX(1);
	}
}

.btn3d {
	@include btn3d;
	transform-origin: center bottom ($btn-height/2);

	&:active {
		transform: rotateX(-90deg);
	}

	&__facet {
		@include facet;
		&--on {
			transform: rotateX(90deg) translateZ($btn-height/2);
			background-color: $color-valid;
		}
		&--off {
			transform: translateZ($btn-height/2);
			background-color: $color-invalid;
		}
	}
}

.btn3d-HS {
	@include btn3d;
	height: $btn3d-height;

	&:hover {
		transform: rotateX(-270deg);
	}

	&__facet {
		@include facet;
		&--front-outside {
			transform: translateZ($btn3d-height/2);
			background-color: $color-secondary;
		}
		&--front-inside {
			transform: translateZ($btn3d-height/2) rotateZ(180deg) rotateY(180deg);
			background: url("../../public/img/hyperspace/top.jpg") center;
		}
		&--back-outside {
			transform: rotateX(180deg) translateZ($btn3d-height/2);
			background-color: $color-secondary;
		}
		&--back-inside {
			transform: rotateX(180deg) translateZ($btn3d-height/2) rotateZ(180deg)
				rotateY(180deg);
			background: url("../../public/img/hyperspace/bottom.jpg") center;
		}
		&--top-outside {
			transform: rotateX(90deg) translateZ($btn3d-height/2);
			background-color: $color-secondary;
		}
		&--top-inside {
			transform: rotateX(90deg) translateZ($btn3d-height/2) rotateZ(180deg)
				rotateY(180deg);
			background: url("../../public/img/hyperspace/center.jpg") center;
		}
		&--bottom-outside {
			transform: rotateX(-90deg) translateZ($btn3d-height/2);
			background-color: transparent;
		}
		&--bottom-inside {
			transform: rotateX(-90deg) translateZ($btn3d-height/2);
			background-color: transparent;
		}
		&--left-outside {
			transform: rotateY(-90deg) translateZ($btn3d-height/2);
			background-color: $color-secondary;
		}
		&--left-inside {
			transform: rotateY(-90deg) translateZ($btn3d-height/2) rotateZ(90deg)
				rotateY(180deg);
			background: url("../../public/img/hyperspace/left.jpg") center;
		}
		&--right-outside {
			transform: rotateY(90deg) translateZ($btn3d-height/2);
			background-color: $color-secondary;
		}
		&--right-inside {
			transform: rotateY(90deg) translateZ($btn3d-height/2) rotateZ(-90deg)
				rotateY(180deg);
			background: url("../../public/img/hyperspace/right.jpg") center;
		}
	}
}
