.progress {
	@include rect(50rem, 2.5rem);
	background-color: transparent;
	border: 3px solid $color-secondary;
	padding: 0.25rem;

	&__bar {
		@include rect(100%, 100%);
		transform-origin: left;
		transform: scaleX(0);
		transition: transform 3000ms cubic-bezier(0.32, 0, 0.07, 1);

		&--transparent {
			opacity: 0;
		}
	}
}
