.validateForm2 {
	.container {
		flex-direction: column;
	}

	.form {
		&__group {
			input {
				&:not(:focus):invalid {
					background-color: $color-invalid;
					color: $color-white;
					animation: headshake-no 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
				}
			}
		}
	}
}
