@mixin rect($width: $rect-width, $height: $rect-height) {
	width: $width;
	height: $height;
	background-color: $color-primary;
}

@mixin square($square-size: $square-size) {
	@include rect($square-size, $square-size);
}

@mixin disc($disc-size: $disc-size) {
	@include square($disc-size);
	border-radius: $disc-size * 0.5;
}
