$color-primary: #15dea5;
$color-secondary: #011c37;
$color-link: tomato;
$color-invalid: #b20a37;
$color-valid: $color-primary;
$color-black: #000;
$color-white: #fff;

$color-btn-start: rgba(1, 28, 55, 0);
$color-btn-end: rgba(1, 28, 55, 1);

$rect-width: 5rem;
$rect-height: 15rem;
$square-size: 15rem;
$disc-size: 10rem;

$btn-height: 5.5rem;
$btn3d-height: 15rem;

$shake-intensity: 1%;
