$color-primary: #15dea5;
$color-secondary: #011c37;
$color-link: tomato;
$color-black: #000;
$color-white: #fff;

$color-text: #6300a0;
$color-danger: #b20a37;
$color-text--invalid: #fff;

$ball-size: 25rem;
